<!-- Default home page -->
{{> top-menu}}
<div class="row">
  <div class="large-12 columns top-stories">
    <div class="header-title">Top Stories</div>
    <ul>


        {{#each articles}}
         <li>

         <a href="{{view.pathFromApp}}/article/{{ this.guid }}">
           <img alt="{{ this.multimedia.description }}"  class="lazy" data-src="{{ this.multimedia.url }}"></img>
         </a>
         <a href="#" class="category">{{ this.primarycategory }}</a>
         <a href="{{view.pathFromApp}}/{{ this.primarycategory }}">
           <h4>{{{ this.title }}}</h4>
           <p>{{{truncate this.description 100}}}</p>
           <span class="date">{{ this.pubDate }}</span>
         </a>
       </li>


     {{/each}}


    </ul>

    <div class="buttons-panel">
      <a href="#" class="load-more button">load more top stories</a>
    </div>
  </div>
  <div class="large-12 columns">

  </div>
</div>
